!!!
-require 'yaml'
-require 'uri'
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf8'}
    %title New Tab
    %link{:rel => 'stylesheet', :href => 'stylesheets/screen.css'}
    %link{:rel => 'stylesheet', :href => 'stylesheets/icons.css'}
    %script{:type => 'text/javascript'}
      $(function() { $(document.body).favicons({insert: 'prependTo'}); })
  %body
    -File.open('src/icons.scss', 'w') do |f|
      %table.wrapper
        %tr
          %td.wrapper-td
            %table.categories
              -data = YAML.load(File.read('sites.yml'))
              -width = (data.length/2.0).ceil
              -td_width = 100.0/width
              -[0,1].each do |i|
                -categories = data[width*i,width]
                %tr
                  -categories.each do |category|
                    %td{:width => "%3.4f%%" % td_width}
                      %h2=category['title']
                      %ul
                        -category['links'].each do |title, url|
                          %li
                            %a{:href=> url}
                              -host = URI.parse(url).host
                              -if host=~ /\.dev$/
                                -`cp special_icons/dev.png images/dev.png` unless File.exists?('images/dev.png')
                                -name='dev'
                              -elsif url =~ /www.google.com\/analytics/
                                -`cp special_icons/google_analytics.png images/google_analytics.png` unless File.exists?('images/google_analytics.png')
                                -name='google_analytics'
                              -elsif host =~ /\.basecamphq\.com$/
                                -`cp special_icons/basecamp.png images/basecamp.png` unless File.exists?('images/basecamp.png')
                                -name='basecamp'
                              -else
                                -filename = "images/#{host}.png"
                                -unless File.exists?(filename)
                                  -`wget http://www.google.com/s2/favicons?domain=#{host} -O #{filename}.bak`
                                  -`pngcrush #{filename}.bak #{filename}`
                                  -`rm #{filename}.bak`
                                -name=host
                              -f.puts ".icon_#{name.gsub('.','_')} { background-image: inline-image(\"#{name}.png\"); }"
                              %span{:class => "icon icon_#{name.gsub('.','_')}"}
                              =title
